
body {
    background: #b43a5f ;
    background: linear-gradient(90deg, rgb(180, 58, 95) 0%, rgb(151, 185, 112) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;
}

.card {
    background: #fff;
    width: 500px;
    min-height: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25PX;
    flex-direction: column;
    text-align: center;
}

.card .icone{
    width: 90px;
    height: 90px;
    background-color: #b7cf9c;
    margin-bottom: 20px;
    object-fit: cover;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: #9eb486 6px solid;
}
 

.card img {
    width: 70px;
    height: 90px;
}

.card h4,.card h1,.card h3 {
    margin: 5px;
}
.card h4{
    color: #b43a5f;
}

.card ul {
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card li {
    border-radius: 20px;
    background-color: #f3d3dc;
    border: 2px solid #ca8197;
    padding: 10px;
    list-style: none;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    color: #b43a5f;
    transition: all 0.3s ease;  
}
.card li:hover { 
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.card p{
    color: #6b6b6b;
    font-size: .9rem;
}

.card .button { 
    background: linear-gradient(90deg, rgb(146, 177, 113) 0%, rgb(113, 151, 69) 100%);
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
    margin-top: 10px;
    border: 1px solid #778d60;
        box-shadow: 0px 3px 7px #00000059;
}
.card .button:hover { 
    background: linear-gradient(90deg, rgb(113, 151, 69) 0%, rgb(146, 177, 113) 100%);
}
